name: Build, Pack & Publish

on:
  push:
    branches:
      - '*'
    tags:
      - 'v*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
                             
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        submodules: true

    - name: Install .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.*
        source-url: https://api.nuget.org/v3/index.json
      env:
        NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
        
    - name: Download libraries
      run: ./download_package.sh

    - name: Build
      run: dotnet build src/PDFiumZ -c Release
      
    - name: Pack
      run: dotnet pack src/PDFiumZ -c Release -o ./artifacts

    - name: Export artifacts
      uses: actions/upload-artifact@v4
      with:
        path: |
          artifacts/*.nupkg
          artifacts/*.snupkg
        
    - name: Get tag name
      if: startsWith(github.ref, 'refs/tags/')
      uses: olegtarasov/get-tag@v2.1
      id: tagName

    - name: Create release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        name: "PDFiumZ ${{ steps.tagName.outputs.tag }} Released"
        files: |
          artifacts/*.nupkg
          artifacts/*.snupkg
      
    - name: Push Nuget packages
      if: startsWith(github.ref, 'refs/tags/')
      run: dotnet nuget push artifacts/*.nupkg --api-key ${{ secrets.ORG_NUGET_AUTH_TOKEN }} --skip-duplicate